---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeElse: true
DerivePointerAlignment: false
PointerAlignment: Middle
SortIncludes: false
